<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue.JS Intro</title>
  </head>
  <body>
    <div id="myApp">
      <input type="text" v-model="newQuote" v-on:keypress.enter="addQuote" />

      <ul>
        <li v-for="({author,quote}, index) in quotes">
          <span>{{index + 1}} {{quote}} </span>
          <!-- <blockquote v-if="author">- {{author}}</blockquote> -->
          <blockquote v-show="author">- {{author}}</blockquote>
        </li>
      </ul>
    </div>

    <script src="./index.js"></script>
  </body>
</html>
